
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Libre+Caslon+Text:ital@1&family=Noto+Sans+JP:wght@300&family=Open+Sans&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Edu NSW ACT Foundation', cursive; 
}

.body{

    min-height: 100vh;
    justify-content: center;
    align-items: center;
   
}

/*NAV BAR*/ 

.navbotonera{
    color:rgb(34, 32, 32);
    background-color: beige;
    height: 50px;
    width: 100%;
}

.navbotonera img{
    height: 20px;
}
.zindex{
    z-index: 1000;
}

/*BANNER INDEX*/ 
.containernosotros{
    display: flex;
    width: 100%;
    height: 100vh;   
}

.banernosotros {
    background: url('../imagenes/Coffe-maker.jpg');
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: relative;
}

.banernosotros h1 {
    color:rgb(249, 249, 238);  
    text-align: center;
    margin-top: 9px;
    font-size: 100px;
}

.banernosotros h2 {

    color:rgb(249, 249, 238);  
    text-align: center;
    margin-top: 15px;
    font-size: 100px;
}
.banernosotros .waves{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
/*SECCION COMENTARIOS*/ 

.testimonials{
    padding: 40px 0;
    background-color: white;
    color:  rgb(34, 32, 32);
    text-align: center;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    margin: 26px auto;
    background: rgba(207, 18, 18, 0.836);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex:33.33%;
    max-width:33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    color:  rgb(34, 32, 32);
    padding: 30px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin:  20px 0;
}

.stars{
    color:  rgba(207, 18, 18, 0.836);
    margin-bottom: 20px;}

footer{
    margin-top: 10px;
    text-align: center;
    height:50px;
    background-color: beige;}

@media screen and (max-width:960px) {
    .col{
        flex:100%;
        max-width: 80%;
    }
    .banernosotros h1 {
        color:rgb(249, 249, 238);  
        text-align: center;
        margin-top: 9px;
        font-size: 55px;
    }
    
    .banernosotros h2 {
    
        color:rgb(249, 249, 238);  
        text-align: center;
        margin-top: 15px;
        font-size: 65px;
    }
}

@media screen and (min-width:965px) and (max-width: 1168px)
 {
    .col{
        flex:100%;
        max-width: 100%;
    }
    .banernosotros h2 {
    
        color:rgb(249, 249, 238);  
        text-align: center;
        margin-top: 15px;
        font-size: 70px;
    }
}

/* NOSOTROS */
.nosotros{
    width: 100vw;
    position: relative;
    height: 100vh;
   
}
.banerhistoria{
    background-image: url("../imagenes/nico-M0yaEhp8KTc-unsplash\ \(1\).jpg");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: .6; 
}



.textohistoria{
    width: 100%;
    position: absolute;
    height: 40%;
    text-align: center;
    left: 0;
    top:0;
}

.textohistoria p{
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 20px;

}
.textohistoria h1{
    color:rgb(34, 32, 32);
    font-size: 87px;
    align-items: center;
    margin-top: 100px;
}
/*nosotros celular  responsive*/
@media (min-width:320px) and (max-width:768px){
    
    .textohistoria h1{
        color:rgb(34, 32, 32);
        font-size: 70px;
        align-items: center;
        margin-top: 100px;
    }
    .textohistoria p{
        width: 60%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1px;
        margin-bottom: 5px;
        font-size: 15px;
    
    }
}




/* Cafe */

.cafe
{   width: 100vw;   
    height: 5px;
      
}

.banercafe{
    background-image: url("../imagenes/cafe-negro.jpg");
    opacity: .3;
    background-size: cover;
    height: 870px;

   
}


.text-cafe{

    font-size: 60px;  
    text-align: center;
    padding-bottom: 10px;
}

.section-cafe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 10px;
}

.cafe-contenedor{
    
    border-radius: 10px;
    margin-top: 10px;
    width: 350px;
    height: 350px;
    margin: 20px;
    position: relative;
    padding-bottom: 300px;
    border: 3px solid rgb(238, 154, 145);
    border-width: 3px;
    border-radius: 10px;
    
    
}

.cafe-contenedor p{
    font-size: 30px; 
    padding-top: 20px; 
    padding-left: 5px;
    
}

.cafe-img {

    width: 200px;
    height: 200px;
    top: 70px;
    position: relative;
    display: flex;
    left: 80px;
    top: 10px;
   
}

/* cafe responsive*/

@media (min-width:300px) and  (max-width:767px)
{
    
    .banercafe{
        background-image: url("../imagenes/cafe-corazon.jpg");
        opacity: .3;
        background-size: cover;
        height: 2500px;
        width:100vw ;
    }

    .section-cafe{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        justify-items: center;
        margin-top: 10px;
    }

    
    
}
@media (min-width:768px) and (max-width:992px)

{

    .banercafe{
        background-image: url("../imagenes/cafe-corazon.jpg");
        opacity: .3;
        background-size: cover;
        height: 1270px;
        width:100vw ;
       
    }

 
}
@media (min-width:993px) and (max-width:1168px)
{
    .section-cafe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;}

    .banercafe{
        background-image: url("../imagenes/cafe-corazon.jpg");
        opacity: .3;
        background-size: cover;
        height: 1275px;
        width:100vw ;
       
    }
}
@media (min-width:1169px) and (max-width:1400px)
{
    .section-cafe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;}

    .banercafe{
        background-image: url("../imagenes/cafe-corazon.jpg");
        opacity: .3;
        background-size: cover;
        height: 890px;
        width:100vw ;
       
    }
}


/* tazas */
.container-tazas{
    width: 100vw;   
    height: 5px;
   
}

.banertazas{
    
    background-image: url('../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg');
    opacity: .3;
    background-size: cover;
    height: 1045px;
}

.text-tazas{
    font-size: 60px;  
    text-align: center;
    padding-bottom: 10px;
}
 
.flex-taza{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 10px;
}

.box-taza{
    border-radius: 10px;
    margin-top: 10px;
    width: 400px;
    height: 400px;
    margin: 30px;
    position: relative;
    border: 3px solid rgb(238, 154, 145);
    border-radius: 10px;
    border-style: ridge;
    border-width: 3px;

}

.taza{
    width: 200px;
    height: 250px;
    position: absolute;
    left: 80px;
    top: 10px;
    
}
.taza-comment{
    font-size: 30px;
    position: absolute;
    padding-top: 300px;
    padding-left: 5px;
}

/* tazas responsive*/

@media (min-width:300px) and  (max-width:767px)

{
    
    .banertazas{
    
        background-image: url('../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg');
        opacity: .3;
        background-size: cover;
        height: 2920px;
    }

    .flex-taza{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin-top: 10px;
    }
    
}

@media (min-width:768px) and (max-width:992px){

    .banertazas
    {
    background-image: url('../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg');
    opacity: .3;
    background-size: cover;
    height:2865px;
    } 

    .flex-taza{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin-top: 10px;
    }
}

@media (min-width:993px) and (max-width:1168px)

{   .banertazas
    {
    background-image: url('../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg');
    opacity: .3;
    background-size: cover;
    height:1486px;
    } 
    .flex-taza{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin-top: 10px;
    }
}
@media (min-width:1169px) and (max-width:1379px)
{
    .banertazas
    {
    background-image: url('../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg');
    opacity: .3;
    background-size: cover;
    height:1480px;
    } 
    .flex-taza{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin-top: 10px;
    }
}






  /* Ubicacion-contacto BS */
.bs-bg{
    background-color: whitesmoke;
}

.claseprueba{
    border:  3px solid rgb(238, 154, 145);
    border-radius: 5px;
}

.claseprueba1{
    
    color: rgb(238, 154, 145);
}
.claseprueba1 h2 {

    color: rgb(238, 154, 145);
}

.claseprueba1 h3 {
    color: rgb(238, 154, 145);
}