.containernosotros
{
    display: flex;
    @include tamanios(100vh, 100%);
   
   

    .banernosotros
    {
        background: map-get($map: $imagenes, $key:banernosotros);
        @include tamanios ( 100%, 100%);
        @extend .banners;
    }

     

    h1 
    {
        color:$nosotrosbanercolor;  
        @include text (100px, center, 9px);
        
    }
    
    h2 
    {
        color:$nosotrosbanercolor; 
        @include text (100px, center, 15px); 
    }

    .waves
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    } 
}
               
.testimonials
{

    padding: 40px 0;
    background-color: $testibackground;
    color: $textcolor;
    text-align: center;
    
         
    .inner
    {
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 0 20px;
    }
        
}
.border{
        @include tamanios (5px, 160px);
        margin: 26px auto;
        background: $testicolorbanerstars;
        }
.row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .col{
            flex:33.33%;
            max-width:33.33%;
            box-sizing: border-box;
            padding: 15px;
        }

        .testimonial{
            color:$textcolor;
            padding: 30px;

            img{
                @include tamanios (100px, 100px);
                border-radius: 50%;
            }
        }

        }
.name{
        font-size: 20px;
        text-transform: uppercase;
        margin:  20px 0;

        }

.stars{
        color: $testicolorbanerstars;
        margin-bottom: 20px;
    }

    @media screen and (max-width:960px) {
        .col{
            flex:100%;
            max-width: 80%;
        }
        .banernosotros h1 {
            @include text (55px,center,9px);
            color:$nosotrosbanercolor;  
        }
        
        .banernosotros h2 
        {
            @include text (65px,center,15px);
            color:$nosotrosbanercolor;  
        }
    }
    
    @media screen and (min-width:965px) and (max-width: 1168px)
     {
        .col{
            flex:100%;
            max-width: 100%;
        }
        .banernosotros h2 
        {
            @include text (70px,center,15px); 
            color:$nosotrosbanercolor;
        }
    }
    

    
    