//Cafe
    .cafe
    {   width: 100vw;   
        height: 5px;

        .banercafe
        {
            background-image: map-get($map: $imagenes, $key:banercafe);
            opacity: .3;
            background-size: cover;
            height: 870px;
        
        }
    }

    .text-cafe{

        font-size: 60px;  
        text-align: center;
        padding-bottom: 10px;
    }

    .section-cafe{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        margin-top: 10px;

        .cafe-contenedor{
            @include PWH(relative,350px,350px);
            border: $border;
            border-radius: 10px;
            margin-top: 10px;
            margin: 20px;
            padding-bottom: 300px;
            border-width: 3px;
            border-radius: 10px;  
        }
        p{
            font-size: 30px; 
            padding-top: 20px; 
            padding-left: 5px;
            
        }
        img{
            @include PWH(relative,200px,200px);
            top: 70px;
            display:flex;
            left: 80px;
            top: 10px;
        
        }
    }

  /* cafe responsive*/

@media (min-width: 300px) and (max-width: 767px)
{
    .text-cafe
    {

        font-size: small;
        padding-left: 20px;  
        text-align: center;
        padding-bottom: 10px;
    }
    .banercafe
    {
        background-image: url("../imagenes/Cafe/cafe-negro.jpg");
        opacity: .3;
        background-size: cover;
        height: 2500px;
        width:100vw ;
    }

    .section-cafe{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        justify-items: center;
        margin-top: 10px;
    }

    
    
}
@media (min-width: 768px) and (max-width: 992px)

{ .section-cafe
    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 75px;
    }

    .banercafe{
        background-image: url("../imagenes/Cafe/cafe-negro.jpg");
        opacity: .3;
        background-size: cover;
        height: 1270px;
        width:100vw ;
       
    }
    .text-cafe
    {

        font-size: 55px;
        padding-left: 20px;  
        text-align: center;
        padding-bottom: 10px;
    }
    
} 
@media  (min-width:1024px)
{

    .banercafe{
        background-image: url("../imagenes/Cafe/cafe-negro.jpg");
        opacity: .3;
        background-size: cover;
        height: 1275px;
        width:100vw ;
       
    }
    .section-cafe
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }
}

