//Common

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: $ffamily;
  
    
}

.body{

    min-height: 100vh;
    justify-content: center;
    align-items: center;
   
}


#footer{
    margin-top: 10px;
    text-align: center;
    height:50px;
    background-color:$backgroundcolor;
}

.navbotonera{
    color:rgb(34, 32, 32);
    background-color: beige;
    height: 50px;
    width: 100vw;

    img{
        height: $navimg;
    }
}