//Common

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: $ffamily;
  
    
}

.body{

    min-height: 100vh;
    justify-content: center;
    align-items: center;
   
}


footer{
    margin-top: 10px;
    text-align: center;
    height:50px;
    background-color:$backgroundcolor;
}

.navbotonera{
    @include tamanios(50px,100vh);
    color:$textcolor;
    background-color:$backgroundcolor;
   

    img{
        height: $navimg;
    }
}

.zindex{
    z-index: 1000;
}