    .containernosotros
    {  @include PWH (flex,100%,100vh);
      
        
        .banernosotros {
            background-image: map-get($map: $imagenes, $key:banerhistoria);
            background-size: cover;
            opacity: 0.6;
            width: 100%;
            height: 100%;
        }
        h1
        {
            color:$nosotrosbanercolor;  
            @include text (100px, center, 200px);
        }  
    }

    .commentscontainer
    {
    
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .textcontainer
        { @include tamanios (300px, 300px);
            margin-top: 10px;
            border: $border;
            border-radius: 3px;
        
        }

        .imgnosotros
        {   @include tamanios (100px, 100px);
            padding: 10px;
            padding-right: 10px;
        }
    }

    @media (min-width:320px) and (max-width:768px)
    {
    
        .textohistoria h1{
            @include text(70px,center,100px);
            color:$textcolor;
        }
        .textohistoria p{
            width: 60%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 1px;
            margin-bottom: 5px;
            font-size: 15px;
        
        }
    }  