//variables

$ffamily:'Edu NSW ACT Foundation', cursive;
$testibackground: white;
$testicolorbanerstars: rgba(207, 18, 18, 0.836);
$backgroundcolor:beige;
$border:3px solid rgb(206, 126, 140);
$bordercolor: rgb(206, 126, 140);
$nosotrosbanercolor:rgb(249, 249, 238); 
$textcolor:rgb(34, 32, 32);
$navimg:20px;




