@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Libre+Caslon+Text:ital@1&family=Noto+Sans+JP:wght@300&family=Open+Sans&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&display=swap");
.banners, .containernosotros .banernosotros {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 10px;
  text-align: center;
  height: 50px;
  background-color: beige;
}

.navbotonera {
  height: 50px;
  width: 100vh;
  color: rgb(34, 32, 32);
  background-color: beige;
}
.navbotonera img {
  height: 20 px;
}

.zindex {
  z-index: 1000;
}

.containernosotros {
  display: flex;
  height: 100vh;
  width: 100%;
}
.containernosotros .banernosotros {
  background: url("../imagenes/Coffe-maker.jpg");
  height: 100%;
  width: 100%;
}
.containernosotros h1 {
  color: rgb(249, 249, 238);
  font-size: 100px;
  text-align: center;
  margin-top: 9px;
}
.containernosotros h2 {
  color: rgb(249, 249, 238);
  font-size: 100px;
  text-align: center;
  margin-top: 15px;
}
.containernosotros .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.testimonials {
  padding: 40px 0;
  background-color: white;
  color: rgb(34, 32, 32);
  text-align: center;
}
.testimonials .inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  height: 5px;
  width: 160px;
  margin: 26px auto;
  background: rgba(207, 18, 18, 0.836);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row .col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.row .testimonial {
  color: rgb(34, 32, 32);
  padding: 30px;
}
.row .testimonial img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: rgba(207, 18, 18, 0.836);
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
  .banernosotros h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 9px;
    color: rgb(249, 249, 238);
  }
  .banernosotros h2 {
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    color: rgb(249, 249, 238);
  }
}
@media screen and (min-width: 965px) and (max-width: 1168px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
  .banernosotros h2 {
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
    color: rgb(249, 249, 238);
  }
}
.containernosotros {
  position: flex;
  width: 100%;
  height: 100vh;
}
.containernosotros .banernosotros {
  background-image: url("../imagenes/nico-M0yaEhp8KTc-unsplash (1).jpg");
  background-size: cover;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.containernosotros h1 {
  color: rgb(249, 249, 238);
  font-size: 100px;
  text-align: center;
  margin-top: 200px;
}

.commentscontainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.commentscontainer .textcontainer {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  border: 3px solid rgb(206, 126, 140);
  border-radius: 3px;
}
.commentscontainer .imgnosotros {
  height: 100px;
  width: 100px;
  padding: 10px;
  padding-right: 10px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .textohistoria h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    color: rgb(34, 32, 32);
  }
  .textohistoria p {
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 15px;
  }
}
.cafe {
  width: 100vw;
  height: 5px;
}
.cafe .banercafe {
  background-image: url("../imagenes/cafe-negro.jpg");
  opacity: 0.3;
  background-size: cover;
  height: 870px;
}

.text-cafe {
  font-size: 60px;
  text-align: center;
  padding-bottom: 10px;
}

.section-cafe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.section-cafe .cafe-contenedor {
  position: relative;
  width: 350px;
  height: 350px;
  border: 3px solid rgb(206, 126, 140);
  border-radius: 10px;
  margin-top: 10px;
  margin: 20px;
  padding-bottom: 300px;
  border-width: 3px;
  border-radius: 10px;
}
.section-cafe p {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 5px;
}
.section-cafe img {
  position: relative;
  width: 200px;
  height: 200px;
  top: 70px;
  display: flex;
  left: 80px;
  top: 10px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .banercafe {
    background-image: url("../imagenes/cafe-negro.jpg");
    height: 2500px;
    width: 100vw;
    opacity: 0.3;
    background-size: cover;
  }
  .section-cafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .banercafe {
    background-image: url("../imagenes/cafe-negro.jpg");
    height: 1270px;
    width: 100vw;
    opacity: 0.3;
    background-size: cover;
  }
}
@media (min-width: 993px) and (max-width: 1168px) {
  .section-cafe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .banercafe {
    background-image: url("../imagenes/cafe-negro.jpg");
    height: 1275px;
    width: 100vw;
    opacity: 0.3;
    background-size: cover;
  }
}
@media (min-width: 1169px) and (max-width: 1400px) {
  .section-cafe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .banercafe {
    background-image: url("../imagenes/cafe-negro.jpg");
    height: 890px;
    width: 100vw;
    opacity: 0.3;
    background-size: cover;
    height: 890px;
    width: 100vw;
  }
}
.container-tazas {
  height: 5px;
  width: 100vw;
}
.container-tazas .banertazas {
  background: url("../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
  opacity: 0.3;
  background-size: cover;
  height: 1045px;
}

.text-tazas {
  font-size: 60px;
  text-align: center;
  padding-bottom: 10px;
}
.text-tazas div {
  position: relative;
  width: 400px;
  height: 400px;
  border-color: 3px solid rgb(206, 126, 140);
  border-radius: 10px;
  margin-top: 10px;
  margin: 30px;
  border-radius: 10px;
  border-style: ridge;
  border-width: 3px;
}
.text-tazas img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 80px;
  top: 10px;
}
.text-tazas p {
  font-size: 30px;
  position: absolute;
  padding-top: 300px;
  padding-left: 5px;
}

.text-tazas {
  font-size: 60px;
  text-align: center;
  padding-bottom: 10px;
}
.text-tazas .box-taza {
  position: relative;
  width: 400px;
  height: 400px;
  border-color: 3px solid rgb(206, 126, 140);
  border-radius: 10px;
  margin-top: 10px;
  margin: 30px;
  border-radius: 10px;
  border-style: ridge;
  border-width: 3px;
}
.text-tazas .taza {
  position: absolute;
  width: 200px;
  height: 250px;
  left: 80px;
  top: 10px;
}
.text-tazas .taza-comment {
  font-size: 30px;
  position: absolute;
  padding-top: 300px;
  padding-left: 5px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .banertazas {
    background-image: url("../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    opacity: 0.3;
    background-size: cover;
    height: 2869px;
  }
  .flex-taza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .banertazas {
    background: url("../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    opacity: 0.3;
    background-size: cover;
    height: 2865px;
  }
  .flex-taza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
}
@media (min-width: 993px) and (max-width: 1168px) {
  .banertazas {
    background: url("../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    opacity: 0.3;
    background-size: cover;
    height: 1486px;
  }
  .flex-taza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
}
@media (min-width: 1169px) and (max-width: 1379px) {
  .banertazas {
    background: url("../imagenes/Cafe/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    opacity: 0.3;
    background-size: cover;
    height: 1480px;
  }
  .flex-taza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
}
.bs-bg {
  background-color: whitesmoke;
}

.claseprueba {
  border: 3px solid rgb(206, 126, 140);
  border-radius: 5px;
}

.claseprueba1 h1 {
  color: rgb(206, 126, 140);
}
.claseprueba1 h2 {
  color: rgb(206, 126, 140);
}/*# sourceMappingURL=main.css.map */